body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
h1, span {
  display: flex;
  font-size: 10vmin;
  align-content: center;
  justify-content: center;
}
input {
  border-color: grey;
  height: 7vmin;
  font-size: 5vmin;
  padding: 10px;
  text-align: center;
}
button {
  background-color: grey;
  font-size: 5vmin;
  height: 10vmin;
  width: 10vmin;
}